<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
    <h2>Edit User</h2>

    <form th:action="@{/users/update}" th:object="${user}" method="post">
        <!-- hidden ID field -->
        <input type="hidden" th:field="*{userId}" />

        <p>
            <label>UserName:</label>
            <input type="text" th:field="*{userName}" required />
        </p>
		<p>
            <label>Age:</label>
            <input type="text" th:field="*{age}" required />
        </p>
        <p>
            <label>Email:</label>
            <input type="email" th:field="*{email}" required />
        </p>

        <p>
            <button type="submit">Update</button>
        </p>
    </form>

    <p><a th:href="@{/users}">Back to List</a></p>
</body>
</html>
